@import 'utill';

.contanior {
    width: 100% auto;

    .box1 {
        width: 100%;
        height: 50px;
    }

    .idBox {
        width: 33%;
        margin-top: 15px;
        margin-bottom: 10px;
        text-align: left;
    }


    .signUpButton {
        margin-top: 30px;
        width: 33%;
        height: 45px;
    }

    .dateBox {
        width: 33%;
        margin-left: 33.5%;
    }
}